NEXT_PUBLIC_SUPABASE_URL=https://xmtmjpjdxfsprubshsbu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=replace-with-scrolls-anon-key
NEXT_PUBLIC_SCROLLS_APP_STORE_URL=https://apps.apple.com/us/app/scrolls/id6761082441
NEXT_PUBLIC_SCROLLS_DEEP_LINK_SCHEME=scrolls://
NEXT_PUBLIC_SCROLLS_WEB_BASE_URL=https://scrolls.adastra.love
